*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.topo{
    width: 100%;
    height: 30%;
    background-color: rgb(255, 156, 0)
}

.logo{
    width: 50%;
    margin:25px 25%;
}

 nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 211, 0);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.452);

}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px 30px;
    border: 0;
    color: black;
}

nav a:hover{
    color: yellow;
    background-image: url(../imagens/mancha.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section h1{
    text-align: center;
    margin-top: 0px;
    font-size: 50px;
    color:  rgb(255, 156, 0);
    text-shadow: 2px 2px 2px black;
}

section h2{
    text-align: center;
    font-size: 200%;
    text-shadow: 2px 2px 2px   rgb(255, 156, 0);
}

.para_1{
    color: rgb(255, 156, 0);
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    line-height: 40px;
    margin-top: 20px;
}

.fundo{
    margin-top: 0;
    background-color: rgb(77, 75, 75);
    padding: 2%;
}

#SERVIÇOS h2{
    margin-top: 30px;
}

.imagens img{
    width: 90%;
    max-width: 300px;
    margin: 30px 0px 20px 110px;
    box-shadow: 3px 3px 4px black;
    border-radius: 10px;
}

.imagens{
    display: flex;
    
}

.imagens_2 img{
    width: 75%;
    margin-left: 100px;
}

.imagens_3 img{
    width: 90%;
    max-width: 300px;
    margin: 30px 0px 20px 110px;
}

.para_fnl{
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(255, 156, 0);
    margin: 30px 0px;

}

div iframe{
    max-width: 600px;
    max-height: 450px;
    margin: 0 28%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}

.redes_sociais {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px;

    
}

.redes_sociais div a{
    text-decoration: none;
    font-size: 15px;
}

.cartoes{
    display: flex;
    justify-content: center;
}

.cartoes img{
    width: 60%;
}

footer{
    width: 100%;
    padding: 15px;
    background-color: rgb(255, 156, 0);
    text-align: center;
}

footer a{
    text-decoration: none;
    font-weight: bolder;
}

footer p{
    font-weight: bolder;
    font-size: 20px;
}
    

/* PARA TELAS MENORES*/

@media (max-width: 525px) {
    .imagens {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -118px;
}
    .imagens_2{
        margin-left: -80px;
    }

    .imagens_3{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 150px;
        margin-left: 60px;
}

.redes_sociais{
    flex-direction: column;
}
    }


@media (max-width: 768px) {
    .imagens {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .imagens {
        flex-wrap: wrap;
    }
}